#root {
  margin: 0 auto;
  text-align: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  top: 50vh;
  font-size: 4rem;
  z-index: 10;
  padding: 0;
  background: none;
  border: none;
  color: currentColor;
  cursor: pointer;
  transition-duration: 0.3s;
}

.arrow-left {
  left: 2rem;
}

.arrow-left:hover {
  transition-duration: 0.3s;
  transform: translateX(-5px);
}

.arrow-right {
  right: 2rem;
}

.arrow-right:hover {
  transition-duration: 0.3s;
  transform: translateX(5px);
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.slide {
  max-width: 90%;
  opacity: 0;
  transition-duration: 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.05);
}
